# python -c "import secrets; print(secrets.token_urlsafe())"
DJANGO_SECRET_KEY = "Substitute with result of above command"
NCBI_API_KEY = "Substitute with  your own NCBI API Key"
DJANGO_DEBUG = "True" # set to False in production