<form method="POST" action="." class="needs-validation" novalidate="" _lpchecked="1">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% if form.pmids.errors %}
      {% for error in form.pmids.errors %}
        <div class="text-error"><strong>{{ error|escape }}</strong></div>
      {% endfor %}
    {% endif %}
    <textarea class="field-sizing-content textarea w-full min-h-40 bg-transparent border-green-700 textarea-md 
    focus-within:outline-2 focus-within:outline-white focus-within:outline-offset-0 resize-none p-2"
    name="{{ form.pmids.html_name }}" id="{{ form.pmids.id_for_label }}"
    placeholder="One PMID per row." required>{{ form.pmids.value|default_if_none:"" }}</textarea>
    {% if field.help_text %}
      <p class="help">{{ field.help_text|safe }}</p>
    {% endif %}
    <small id="count">1 row</small>
    <br/>
    <input type="submit" name="Download" value="{{ download_button_text }}" 
    class='btn w-full mt-5 rounded bg-green-700 hover:bg-green-900 btn-sm sm:btn-sm md:btn-md lg:btn-lg'>
</form>